@inject IUsuarioService usuarioService;
@inject IUsuarioAspNet usuarioAspNet;
@model List<Hospital>


@{
    ViewData["Title"] = "Hospital";
    var tipoUsuario = usuarioService.GetTipoUsuarioLogado();
    var usuarioId = usuarioAspNet.GetUsuarioId();
}
<h1>Hospitais</h1>
<a class="btn btn-primary" asp-action="Editar">Novo Hospital</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Ações</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var hospital in Model)
        {
            <tr>
                <th scope="row">@hospital.Nome</th>
                <td>
                    <a class="btn btn-warning" asp-action="Editar" asp-route-id="@hospital.Id">Editar</a>
                    @if (tipoUsuario == Facilidata.FaciliHosp.Infra.Identity.Enums.ETipoUsuario.Medico)
                    {
                        <a class="btn btn-warning" asp-controller="Exame" asp-action="Pacientes" asp-route-hospitalId="@hospital.Id">Exames</a>
                    }
                    else
                    {
                        <a class="btn btn-warning" asp-controller="Exame" asp-action="Index" asp-route-hospitalId="@hospital.Id" asp-route-usuarioId="@usuarioId" >Exames</a>
                    }
                    <a class="btn btn-danger" asp-action="Deletar" asp-route-id="@hospital.Id">Deletar</a>
                </td>
            </tr>
        }


    </tbody>
</table>