@model PlanoViewModel

@{
    ViewData["Title"] = "Planos";
}

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-centered">
                Conheça nossos planos!
            </h1>
        </div>
        <br /><br />
    </div>
</section>

<div class="pricing-table">

    @foreach (var plano in Model.Planos)
    {
        <div class="pricing-plan 
            @if (plano.Id == Model.PlanoAtual)
            {
                @Html.Raw(" is-active");
            }
            else
            {
                @Html.Raw(" is-info");
            }
            ">
            <div class="plan-header">@plano.Descricao</div>
            <div class="plan-price">
                <span class="plan-price-amount">
                    <span class="plan-price-currency">R$</span>
                    @plano.Valor.ToString("00")
                </span>/mês
            </div>
            <div class="plan-items">
                @if (plano.Armazenamento < 1000)
                {
                    <div class="plan-item">@plano.Armazenamento MB de Armazenamento</div>
                }
                else
                {
                    <div class="plan-item">@((plano.Armazenamento/1000).ToString("00")) GB de Armazenamento</div>
                }
                <div class="plan-item">@plano.QuantidadeExameSangue.ToString("00") Exames de Sangue</div>
                <div class="plan-item">@plano.QuantidadeExameImagem.ToString("00") Exames de Imagem</div>
            </div>
            <div class="plan-footer">
                @if (plano.Id == Model.PlanoAtual)
                {
                    <a class="button is-fullwidth" disabled>Plano Atual</a>
                }
                else
                {
                    <a class="button is-fullwidth" asp-action="AlterarPlano" asp-route-id="@plano.Id"
                       onclick="return confirm('Deseja alterar para o @plano.Descricao?')">Escolher</a>
                }
            </div>
        </div>
    }
</div>