@model List<ExameSemAnexo>

@{
    ViewData["Title"] = "Exames";
}

<div class="container">
    <br /><br />
    <a class="button is-success" asp-controller="Exame" asp-action="Editar">
        Adicionar Exame
    </a>
    <br /><br />
    <table class="table is-striped is-narrow is-hoverable is-fullwidth has-text-centered">
        <thead>
            <tr>
                <th>Exame Realizado</th>
                <th>Data do Exame</th>
                <th>Hospital / Laboratorio</th>
                <th>Anexo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exame in Model)
            {
            <tr>
                <td>@exame.TipoOutro</td>
                <td>@exame.CriadoEm</td>
                <td>@exame.Fornecedor</td>
                @if (string.IsNullOrEmpty(exame.Url))
                {
                    <td>
                        <span>Sem anexo</span>
                    </td>
                }
                else
                {
                    <td>
                        <a class="button is-info" asp-action="DownloadAnexo" asp-route-id="@exame.Id">Download</a>
                    </td>
                }
                <td>
                    <a class="button is-success" asp-action="Editar" asp-route-id="@exame.Id">Editar</a>
                    <a class="button is-danger" asp-action="Deletar" asp-route-id="@exame.Id">Deletar</a>

                </td>
            </tr>
            }
        </tbody>
    </table>

</div>