@model List<ExameComHospitaisUsuarios>

@{
    ViewData["Title"] = "Exames";
}
<link href="~/css/tab.paciente_medstyle.css" rel="stylesheet" type="text/css">



<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <a class="btn btn-warning btn-lg" id="botão04" asp-controller="Exame" asp-action="Pacientes" style="padding-bottom:5px">
                    Adicionar Exame
                </a>
                <table>
                    <thead>
                        <tr class="table100-head">
                            <th class="column1">Nome Paciente</th>
                            <th class="column2">Exame Realizado</th>
                            <th class="column3">Data do Exame</th>
                            <th class="column4">Hospital / Laboratorio</th>
                            <th class="column5">Anexo Exame</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var exame in Model)
                        {
                            <tr>
                                <td class="column1">@exame.Email</td>
                                <td class="column2">@exame.Tipo</td>
                                <td class="column3">@exame.CriadoEm</td>
                                <td class="column4">@exame.Hospital</td>
                                <td class="column5">
                                    <a class="btn" asp-action="DownloadAnexo" asp-route-id="@exame.Id">Download Anexo</a>
                                    <a class="btn" asp-action="Editar" asp-route-id="@exame.Id"  asp-route-usuarioId="@exame.UsuarioId" asp-route-hospitalId="@exame.HospitalId">Editar</a>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table><br>

                @*<button class="btn btn-warning btn-lg" id="botão04" onclick="retornar()">
            Voltar Home
        </button>*@

                <a class="btn btn-warning btn-lg" id="botão04" asp-controller="Home" asp-action="Index">
                    Voltar
                </a>


            </div>

        </div>
    </div>
</div>

@*<h1>Exames</h1>
    <a class="btn btn-primary" asp-action="Editar" asp-route-hospitalId="@Model.HospitalId" asp-route-usuarioId="@Model.UsuarioId">Novo Exame</a>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Tipo</th>
                <th scope="col">Data</th>
                <th scope="col">Ações</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var exame in Model)
            {
                <tr>
                    <th scope="row">@exame.Tipo</th>
                    <th scope="row">@exame.CriadoEm</th>
                    <td>
                        <a class="btn btn-warning" asp-action="Editar" asp-route-id="@exame.Id" asp-route-hospitalId="@exame.HospitalId" asp-route-usuarioId="@exame.UsuarioId">Editar</a>
                        <a class="btn btn-warning" asp-action="DownloadAnexo" asp-route-id="@exame.Id">Anexo</a>
                        <a class="btn btn-danger" asp-action="Deletar" asp-route-id="@exame.Id" asp-route-hospitalId="@exame.HospitalId" asp-route-usuarioId="@exame.UsuarioId">Excluir</a>
                    </td>
                </tr>
            }


        </tbody>
    </table>*@
